* {
    margin: 0;
    padding: 0;
}

#navbar-sm{
    display: none;
}

#overlap{
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 0;
    height: 100%;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #040404;
}

.navbar span {
    font-size: 2em;
    font-weight: bold;
    margin-right: 30px;
}

.logo {
    width: 40%;
}

.jumbotron {
    padding-bottom: 7rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.album {
    min-height: 50rem;
    /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    display: block;
}

.white-bg {
    background-color: white;
}

.card>img {
    margin-bottom: 1rem;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    height: 20%;
}

.card-text {
    font-size: 85%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;    
}

footer p {
    margin-bottom: .25rem;
}

.card p {
    height: 35%;

}

td {
    width: 20%;
    height: 100%;
}

tr {
    height: 30%;
}

footer{
    background-color: #353535;
    padding: 40px;
}

.text-muted > strong{
    color: #ABABAB;
}

#cord {
    margin: auto;
}

@media(min-width:200px) and (max-width: 575px) {
    #navbar-sm {
        display: grid;
    }

    #navbar-lg {
        display: none;
    }
    .logo {
        width: 80%;
    }
    #subtitulo{
        padding: 20px;
        text-align: center;
    }
    #overlap{
        max-width: auto;
        max-height: 15%;
    }
    .nav-link{
        width: 90px;
    }
}

@media(min-width: 576px) and (max-width:767px) {
    #navbar-sm {
        display: block;
    }
    #navbar-lg {
        display: none;
    }
    #overlap{
        max-width: auto;
        max-height: 15%;
    }
    .nav-link{
        width: auto;
    }
}

@media(min-width: 768px) and (max-width:991) {
    #overlap{
        max-width: auto;
        max-height: 10%;
    }
}

@media(min-width: 992px) {
    #overlap{
        max-width: auto;
        max-height: 20%;
    }
}